<div *ngIf="loading" class="item">
  <mat-card class="service-card">
    <ngx-skeleton-loader count="15" appearance="line" animation="pulse" />
  </mat-card>
</div>

<div *ngIf="!loading">
  <mat-card class="service-card">
    <mat-card-title class="service-title"> </mat-card-title>
    <mat-card-content>
      <div class="headtitle">
        <div class="back">
          <h1>Catalog browser</h1>
          <mat-icon
            class="help-icon"
            matTooltip="Here you can fetch catalog data from another connector by inserting the URL of the connector and clicking on exchange button next to input."
            aria-label="Help regarding catalog browser"
            >help_outline</mat-icon
          >
        </div>
        <div class="buttons">
          <mat-form-field>
            <input
              matInput
              [formControl]="urlControl"
              placeholder="Insert connector URL"
            />
          </mat-form-field>

          <button
            mat-button
            matTooltip="Fetch catalog data"
            (click)="onFetch()"
          >
            <mat-icon>compare_arrows</mat-icon>
          </button>
        </div>
      </div>
      <div class="space-card">
        <div *ngFor="let catalog of filteredCatalogsData">
          <div class="card">
            <div class="title">
              {{ catalog.title }}
            </div>
            <div class="subtitle">
              {{ catalog.creator }}
            </div>
            <div class="content">
              <p>
                <strong>Homepage:</strong>
                {{ catalog.homepage }}
              </p>
              <p>
                <strong>Keywords:</strong>
                {{ catalog.keyword.join(", ") }}
              </p>
              <p>
                <strong>Issued:</strong>
                {{ catalog.issued | date : "d MMMM y, HH:mm:ss" }}
              </p>
              <p>
                <strong>Modified:</strong>
                {{ catalog.modified | date : "d MMMM y, HH:mm:ss" }}
              </p>
              <p>
                <strong>Datasets:</strong>
                {{ catalog.dataset.length || 0 }}
              </p>
            </div>
            <div class="btn-action">
              <button
                mat-button
                matTooltip="View details"
                (click)="navigateToCatalogDetails(catalog)"
              >
                <mat-icon>visibility</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
