<div *ngIf="loading" class="item">
  <mat-card class="service-card">
    <ngx-skeleton-loader count="15" appearance="line" animation="pulse" />
  </mat-card>
</div>

<div *ngIf="!loading">
  <mat-card class="service-card">
    <mat-card-title class="service-title"> </mat-card-title>
    <mat-card-content>
      <div class="headtitle">
        <div class="back">
          <h1>Manage Distributions</h1>
          <mat-icon
            class="help-icon"
            matTooltip="Distributions represents different types of how data is transferred between connectors. It contains metadata, and related service. Here you can view all, edit, or delete the existing distributions."
            aria-label="Help regarding distribution management"
            >help_outline</mat-icon
          >
        </div>

        <div class="buttons">
          <mat-form-field>
            <input
              matInput
              [formControl]="searchControl"
              placeholder="Search by title"
            />
          </mat-form-field>
          <button
            mat-button
            matTooltip="Add new distribution"
            (click)="onAdd()"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
      <div class="space-card">
        <div *ngFor="let distribution of filteredDistributions">
          <div class="card">
            <div class="title">
              {{ distribution.title }}
            </div>
            <div class="subtitle">
              {{ distribution.type }}
            </div>
            <div class="content">
              <p>
                <strong>ID:</strong>
                {{ distribution["@id"] }}
              </p>
              <p>
                <strong>Issued:</strong>
                {{ distribution.issued | date : "d MMMM y, HH:mm:ss" }}
              </p>
              <p>
                <strong>Modified:</strong>
                {{ distribution.modified | date : "d MMMM y, HH:mm:ss" }}
              </p>
              <p>
                <strong>Access services:</strong>
                {{ distribution.accessService.length || 0 }}
              </p>

              <p>
                <strong>Format:</strong>

                {{ getFormatLabel(distribution.format) || 'N/A' }}
              </p>
            </div>
            <div class="btn-action">
              <button
                mat-button
                matTooltip="View details"
                (click)="navigateToDistributionDetails(distribution)"
              >
                <mat-icon>visibility</mat-icon>
              </button>
              <button
                mat-button
                matTooltip="Edit distribution"
                (click)="onEdit(distribution)"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-button
                matTooltip="Delete distribution"
                (click)="onDelete(distribution)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
