<div *ngIf="loading" class="item">
  <mat-card class="service-card">
    <ngx-skeleton-loader count="15" appearance="line" animation="pulse" />
  </mat-card>
</div>

<div *ngIf="!loading">
  <mat-card class="service-card">
    <mat-card-content>
      <div class="headtitle">
        <div class="back">
          <h1 *ngIf="userType === 'provider'">
            Manage contract offers as provider
          </h1>
          <h1 *ngIf="userType === 'consumer'">
            Manage contract offers as consumer
          </h1>
        </div>
        <div class="buttons">
          <button
            *ngIf="userType === 'provider'"
            mat-button
            matTooltip="Refresh data"
            (click)="getProviderContractNegotiations()"
          >
            <mat-icon>cached</mat-icon>
          </button>

          <button
            *ngIf="userType === 'consumer'"
            mat-button
            matTooltip="Refresh data"
            (click)="getConsumerContractNegotiations()"
          >
            <mat-icon>cached</mat-icon>
          </button>
        </div>
      </div>
      <div class="filter-div">
        <section class="filter-section">
          <h3>Filter by State</h3>
          <mat-chip-listbox
            multiple
            aria-label="Contract negotiation state selection"
            class="contract-state-chips"
          >
            <mat-chip-option
              *ngFor="let state of contractNegotiationStates"
              [selected]="selectedStates.includes(state)"
              (click)="toggleStateSelection(state)"
              color="primary"
            >
              {{ getStateDisplayName(state) }}
            </mat-chip-option>
          </mat-chip-listbox>
        </section>
      </div>
      <div class="space-card">
        <div *ngFor="let contractNegotiation of filteredContractNegotiations">
          <div class="card">
            <div class="title">
              {{ contractNegotiation["@id"] }}
            </div>
            <div class="subtitle">
              {{ contractNegotiation.type }}
            </div>
            <div class="content">
              <p>
                <strong>Assigner:</strong>
                {{ contractNegotiation.assigner }}
              </p>
              <p>
                <strong>Callback address:</strong>
                {{ contractNegotiation.callbackAddress }}
              </p>
              <p>
                <strong>Provider PID:</strong>
                {{ contractNegotiation.providerPid }}
              </p>
              <p>
                <strong>Consumer PID:</strong>
                {{ contractNegotiation.consumerPid }}
              </p>
              <p>
                <strong>State:</strong>
                {{ contractNegotiation.state }}
              </p>

              <div *ngIf="contractNegotiation.offer !== null">
                <h3>Offer details</h3>
                <div>
                  <p>
                    <strong>ID:</strong>
                    {{ contractNegotiation.offer["@id"] }}
                  </p>
                  <p>
                    <strong>Provider PID:</strong>
                    {{ contractNegotiation.offer.providerPid }}
                  </p>
                  <p>
                    <strong>Consumer PID:</strong>
                    {{ contractNegotiation.offer.consumerPid }}
                  </p>
                  <p>
                    <strong>Assignee:</strong>
                    {{ contractNegotiation.offer.assignee }}
                  </p>
                  <p>
                    <strong>Assigner:</strong>
                    {{ contractNegotiation.offer.assigner }}
                  </p>
                  <p>
                    <strong>Target:</strong>
                    {{ contractNegotiation.offer.target }}
                  </p>
                  <mat-expansion-panel
                    class="expansion-panel"
                    *ngIf="contractNegotiation.offer.permission.length > 0"
                  >
                    <mat-expansion-panel-header>
                      <mat-panel-title>Permissions</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div
                      *ngFor="
                        let permission of contractNegotiation.offer.permission
                      "
                      class="resource-section"
                    >
                      <div>
                        <p>
                          <strong>Action:</strong>
                          {{ permission.action }}
                        </p>
                        <p>
                          <strong>Assignee:</strong>
                          {{ permission.assignee }}
                        </p>
                        <p>
                          <strong>Assigner:</strong>
                          {{ permission.assigner }}
                        </p>
                        <p>
                          <strong>Target:</strong>
                          {{ permission.target }}
                        </p>
                        <div
                          *ngFor="let constraint of permission.constraint"
                          class="constraint-section"
                        >
                          <div>
                            <p>
                              <strong>Constraint:</strong>
                            </p>
                            <p>
                              <strong>Left operand:</strong>
                              {{ constraint.leftOperand }}
                            </p>
                            <p>
                              <strong>Operator:</strong>
                              {{ constraint.operator }}
                            </p>
                            <p>
                              <strong>Right operand:</strong>
                              {{ constraint.rightOperand }}
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </div>
              </div>
            </div>
            <div class="btn-action">
              <!-- Conditionally show buttons based on state -->
              <button
                mat-button
                matTooltip="Approve contract"
                *ngIf="
                  contractNegotiation.state ===
                    contractNegotiationState.REQUESTED &&
                  userType === 'provider'
                "
                (click)="onApprove(contractNegotiation)"
              >
                <mat-icon>check</mat-icon>
                <p>Approve</p>
              </button>
              <button
                mat-button
                matTooltip="Accept contract"
                *ngIf="
                  contractNegotiation.state === contractNegotiationState.OFFERED
                "
                (click)="onAccept(contractNegotiation)"
              >
                <mat-icon>check</mat-icon>
                <p>Accept</p>
              </button>
              <button
                mat-button
                matTooltip="Verify contract"
                *ngIf="
                  contractNegotiation.state ===
                    contractNegotiationState.AGREED && userType === 'consumer'
                "
                (click)="onVerify(contractNegotiation)"
              >
                <mat-icon>check</mat-icon>
                <p>Verify</p>
              </button>
              <button
                mat-button
                matTooltip="Finalize contract"
                *ngIf="
                  contractNegotiation.state ===
                    contractNegotiationState.VERIFIED && userType === 'provider'
                "
                (click)="onFinalize(contractNegotiation)"
              >
                <mat-icon>check</mat-icon>
                <p>Finalize</p>
              </button>
              <button
                mat-button
                matTooltip="Terminate contract"
                *ngIf="
                  contractNegotiation.state !==
                    contractNegotiationState.FINALIZED &&
                  contractNegotiation.state !==
                    contractNegotiationState.TERMINATED
                "
                (click)="onTerminate(contractNegotiation)"
              >
                <mat-icon>cancel</mat-icon>
                <p>Terminate</p>
              </button>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
