:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0;
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav {
  user-select: none;
}

.full-width {
  width: 100%;
}

.mat-icon {
  vertical-align: middle;
  padding-right: 5px;
}

.header-image {
  width: 170px;
  height: 35px;
  margin: 10px 20px 10px 42px;
}

.header-image--custom {
  height: 30px;
  margin: 25px 20px 10px 42px;
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: unset;
}

.mat-drawer-side {
  box-shadow: 2px 4px 6px rgb(240, 239, 239);
  border-right-color: transparent;
  border-right-width: 1px;
  border-right-style: solid;
}

.spacer {
  flex: 1;
}

.user-info {
  padding: 16px;
  text-align: center;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-footer {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  background-color: #fafafa;
  border-top: 1px solid #e0e0e0;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.6);
}

.app-footer a {
  color: inherit;
  text-decoration: underline;
}

.app-footer__spacer {
  flex: 1;
}

.configuration {
  margin-left: 10px;
}

@media (max-width: 1200px) {
  .toolbar h1 {
    font-size: 1.2em;
  }

  .header-image {
    width: 200px;
    height: 40px;
  }
}
